RecruitApp/force-app/main/default/flows/Criar_Marcacao_Pendente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activityDateTime</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailRecepient</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Criar Marcação Pendente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apresentar Proposta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Tarefa</name>
        <label>Criar Tarefa</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Proposta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Candidacy_Lookup__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email</name>
        <label>Get Email</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Template_Proposta</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_estado_para_proposta_pendente</name>
        <label>Atualiza estado para proposta pendente</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Criar_Tarefa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Com uma proposta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Stage__c</field>
            <value>
                <stringValue>Data apresentação proposta pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Apresentar Proposta</stringValue>
            </value>
        </inputAssignments>
        <object>Candidacy__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_estado_para_proposta_pendente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposta</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Apresentar_Proposta</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Gostaríamos de expressar a nossa satisfação com as reuniões que tivemos consigo. A sua experiência e competências impressionaram a nossa equipa, e estamos entusiasmados com a possibilidade de o ter como parte integrante do nosso grupo de trabalho.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Gostaríamos de saber se estaria disponível para discutir uma data para que pudéssemos apresentar a nossa proposta.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Aguardamos com expectativa a sua resposta.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Template_Proposta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Marca_o_1723565926878</stringValue>
        </value>
    </variables>
</Flow>
